/* Start Global Rules */
/* * {
  box-sizing: border-box;
}
body {
  background-color: #fff;
} */
.PostNewForm-page {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.h2-Labeling {
  /* text-align: center; */
  font-size: 35px;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: inline-block;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.PostNewForm-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .PostNewForm-page header {
    min-height: auto;
    display: initial;
  }
}
.PostNewForm-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .PostNewForm-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.PostNewForm-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .PostNewForm-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.PostNewForm-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .PostNewForm-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.PostNewForm-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .PostNewForm-page header .links li {
    margin-left: auto;
  }
}
.PostNewForm-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #6c63ff;
}
.PostNewForm-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}

/*여기부터 Dataset*/
.Dataset {
  width: 700px;
  margin: 20px auto;
}

.DataLabel-form {
  display: flex;
}

.ImageUpload-form {
  margin: 30px 0px 30px 0px;
}

.Upload-form {
  /* display: inline-flex; */
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  width: 200px;
  /* height: 100px; */
}
/* .please {
  display: flex;
} */

.PlusIcon {
  width: 100px;
  line-height: 100px;
  border: 2px solid rgb(21, 236, 247);
  /* border-radius: 150px; */
  /* backdrop-filter: blur(3px); */
}

.submit-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #6c63ff;
}
